*{
	box-sizing: border-box;
}
body{
	font-family: 'Arima', cursive;
}
h1{
	text-align: center;
}
.title1{
	background: #CCD4BF;
	width: 90px;
	height: 30px;
	text-align: center;
	border: 1px solid black;
	color: #280018;
}
.title2{
	background: #E7CBA9;
	width: 90px;
	height: 30px;
	text-align: center;
	border: 1px solid black;
	color: #280018;
}
.title3{
	background: #EEBAB2;
	width: 90px;
	height: 30px;
	text-align: center;
	border: 1px solid black;
	color: #280018;
}
p{
	color: #280018;
}
section{
	background: #F5F3E7;
}
/*for Desktop*/
@media(min-width: 992px){
	.col-lg-1,.col-lg-2,.col-lg-3{
	    float: left;
	    width: 31.2%;
	    border: 1px solid black;
		margin: 10px;
		position: relative;	
		padding: 5px;
		padding-top: 35px;
	}
	.title1,.title2,.title3{
		position: absolute;
		top: -1px;
		right: -1px;
	}
}
/*for tablet*/
@media(min-width: 768px) and (max-width: 991px){
	.col-lg-1,.col-lg-2{
	    float: left;
	    width: 47.3%;	
	    border: 1px solid black;
	    margin: 10px;
	    padding: 10px;
		padding-top: 35px;
		position: relative;
	}
	.col-lg-3{
	    float: left;
	    width: 97.2%;
	    border: 1px solid black;
	    margin: 10px;
	    padding: 10px;
		padding-top: 35px;
		position: relative;
	}
	.title1,.title2,.title3{
		position: absolute;
		top: -1px;
		right: -1px;
	}
}
/*for mobile*/
@media(max-width: 767px){
	.col-lg-1,.col-lg-2,.col-lg-3{
	   float: left;
	   width: 98.2%;	
	   border: 1px solid black;
	   margin: 10px;
	   padding: 10px;
	   position: relative;
	}
	
	.title1,.title2,.title3{
		position: absolute;
		top: -1px;
		right: -1px;
	}
}